IANA registry details for token types

From IANA:

> First, where should this new registry be located? Should it be added to an existing registry page? If it needs a new page, does it also need a new category at http://www.iana.org/protocols (and if so, should the page and the category have the same name)?
> 
> Second, what is the registration procedure for this new registry? If you need more information about common procedures, see Section 4 of RFC 8126:
> 
> https://datatracker.ietf.org/doc/html/rfc8126#section-4
